<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="bugsnag" xsi:type="object">Webtise\BugSnag\Bugsnag\Handler</item>
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
            </argument>
        </arguments>
    </type>
    <type name="Webtise\BugSnag\Bugsnag\Handler">
        <arguments>
            <argument name="bugsnagClient" xsi:type="object">Webtise\BugSnag\Bugsnag\Client</argument>
            <argument name="level" xsi:type="string">300</argument>
        </arguments>
    </type>
</config>