<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="bugsnag" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>BugSnag</label>
			<tab>advanced</tab>
			<resource>Webtise_BugSnag::config</resource>
			<group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Settings</label>
				<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Enable Module</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="apikey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>API Key</label>
					<depends>
						<field id="*/*/enable">1</field>
					</depends>
					<validate>validate-no-empty</validate>
					<comment>API Key provided from BugSnag</comment>
				</field>
				<field id="release_stage" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Release Stage</label>
					<depends>
						<field id="*/*/enable">1</field>
					</depends>
					<comment>Release Stage sent to BugSnag as part of Error Report</comment>
				</field>
				<field id="loglevel" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logging Level</label>
					<depends>
						<field id="*/*/enable">1</field>
					</depends>
					<source_model>Webtise\BugSnag\Model\Config\Source\LogLevel</source_model>
					<comment>Will send off any errors of this level and above to BugSnag - See: https://github.com/Seldaek/monolog/blob/master/doc/01-usage.md#log-levels</comment>
				</field>
				<field id="test_api" translate="button_label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<button_label>Fire Test Event</button_label>
					<depends>
						<field id="*/*/enable">1</field>
					</depends>
					<frontend_model>Webtise\BugSnag\Block\Adminhtml\System\Config\TestEvent</frontend_model>
					<comment>Fire a test event to ensure that the API key is correct</comment>
				</field>
			</group>
		</section>
	</system>
</config>
